html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
}

* {
  scrollbar-color: $primary-color $background-color;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  background-color: $background-color;
  width: 4px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 9999px;
}